USE [master]
GO
/****** Object:  Database [KAHYToon]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE DATABASE [KAHYToon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KAHYToon', FILENAME = N'C:\ProgramData\SOLIDWORKS Electrical\MSSQL12.TEW_SQLEXPRESS\MSSQL\DATA\KAHYToon.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KAHYToon_log', FILENAME = N'C:\ProgramData\SOLIDWORKS Electrical\MSSQL12.TEW_SQLEXPRESS\MSSQL\DATA\KAHYToon_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KAHYToon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KAHYToon]
GO
/****** Object:  User [PC29-PM3\Administrator]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE USER [PC29-PM3\Administrator] FOR LOGIN [PC29-PM3\Administrator] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [PC29-PM3\Administrator]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[MaAdmin] [nvarchar](50) NOT NULL,
	[TenDangNhap] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[baocao]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baocao](
	[MaBaoCao] [nvarchar](50) NOT NULL,
	[MaNguoiDung] [nvarchar](50) NULL,
	[MaAdminXuLy] [nvarchar](50) NULL,
	[MaTruyen] [nvarchar](50) NULL,
	[MaChuong] [nvarchar](50) NULL,
	[NoiDungBaoCao] [nvarchar](max) NULL,
	[NgayBaoCao] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
 CONSTRAINT [PK_baocao] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[binhluan]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[binhluan](
	[MaBinhLuan] [nvarchar](50) NOT NULL,
	[MaNguoiDung] [nvarchar](50) NULL,
	[MaTruyen] [nvarchar](50) NULL,
	[MaChuong] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[SoChuong] [int] NULL,
 CONSTRAINT [PK_binhluan] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuong]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuong](
	[MaChuong] [nvarchar](50) NOT NULL,
	[MaTruyen] [nvarchar](50) NULL,
	[SoChuong] [int] NULL,
	[TenChuong] [nvarchar](255) NULL,
	[AnhChuong] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
 CONSTRAINT [PK_chuong] PRIMARY KEY CLUSTERED 
(
	[MaChuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhgia]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhgia](
	[MaNguoiDung] [nvarchar](50) NOT NULL,
	[MaTruyen] [nvarchar](50) NOT NULL,
	[SoSao] [int] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayBinhLuan] [datetime] NULL,
 CONSTRAINT [PK_danhgia] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lichsudoc]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lichsudoc](
	[MaLichSuDoc] [nvarchar](50) NOT NULL,
	[MaNguoiDung] [nvarchar](50) NOT NULL,
	[MaTruyen] [nvarchar](50) NULL,
	[MaChuong] [nvarchar](50) NULL,
	[ThoiGianDoc] [datetime] NULL,
	[NgayXem] [datetime] NULL,
 CONSTRAINT [PK_lichsudoc] PRIMARY KEY CLUSTERED 
(
	[MaLichSuDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoidung]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoidung](
	[MaNguoiDung] [nvarchar](50) NOT NULL,
	[TenDangNhap] [nvarchar](255) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[NgayDangKy] [datetime] NULL,
	[VaiTro] [nvarchar](50) NULL,
	[ThoiGianDangNhap] [datetime] NULL,
	[IP_DangNhap] [varchar](45) NULL,
	[Avatar] [nvarchar](255) NULL,
	[HoTen] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
 CONSTRAINT [PK_nguoidung] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[theloai]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[theloai](
	[MaTheLoai] [nvarchar](50) NOT NULL,
	[TenTheLoai] [nvarchar](200) NULL,
 CONSTRAINT [PK_theloai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thongtintruyen]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thongtintruyen](
	[MaTruyen] [nvarchar](50) NOT NULL,
	[MaTheLoai] [nvarchar](50) NULL,
	[TenTruyen] [nvarchar](255) NULL,
	[TacGia] [nvarchar](255) NULL,
	[NgayDang] [datetime] NULL,
	[TrangThai] [nvarchar](40) NOT NULL,
	[AnhTruyen] [nvarchar](500) NULL,
	[Slug] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_thongtintruyen] PRIMARY KEY CLUSTERED 
(
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[truyenyeuthich]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[truyenyeuthich](
	[MaNguoiDung] [nvarchar](50) NOT NULL,
	[MaTruyen] [nvarchar](50) NOT NULL,
	[NgayThem] [datetime] NULL,
 CONSTRAINT [PK_truyenyeuthich] PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC,
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[admin] ([MaAdmin], [TenDangNhap], [MatKhau], [HoTen], [Email], [VaiTro], [NgayTao]) VALUES (N'AD001', N'admin', N'123456', N'Quản Trị Viên', N'admin@kahytoon.com', N'Admin', CAST(N'2025-11-07T09:55:14.500' AS DateTime))
GO
INSERT [dbo].[baocao] ([MaBaoCao], [MaNguoiDung], [MaAdminXuLy], [MaTruyen], [MaChuong], [NoiDungBaoCao], [NgayBaoCao], [TrangThai]) VALUES (N'BC002', N'ND004', NULL, N'MT_1', N'C002', N'Hình ảnh không hiển thị', CAST(N'2025-03-18T00:00:00.000' AS DateTime), N'Đã xử lý')
INSERT [dbo].[baocao] ([MaBaoCao], [MaNguoiDung], [MaAdminXuLy], [MaTruyen], [MaChuong], [NoiDungBaoCao], [NgayBaoCao], [TrangThai]) VALUES (N'BC005', N'ND005', NULL, N'MT_4', N'C002', N'Truyện có nội dung trùng lặp', CAST(N'2025-03-19T00:00:00.000' AS DateTime), N'Đã xử lý')
INSERT [dbo].[baocao] ([MaBaoCao], [MaNguoiDung], [MaAdminXuLy], [MaTruyen], [MaChuong], [NoiDungBaoCao], [NgayBaoCao], [TrangThai]) VALUES (N'BC006', N'ND004', NULL, N'MT_5', N'C003', N'Liên kết chương bị lỗi', CAST(N'2025-03-20T00:00:00.000' AS DateTime), N'Đã xử lý')
GO
INSERT [dbo].[binhluan] ([MaBinhLuan], [MaNguoiDung], [MaTruyen], [MaChuong], [NoiDung], [NgayDang], [SoChuong]) VALUES (N'BL002', N'ND004', N'MT_1', N'C002', N'Tôi thích cách viết của tác giả.', CAST(N'2025-03-18T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[binhluan] ([MaBinhLuan], [MaNguoiDung], [MaTruyen], [MaChuong], [NoiDung], [NgayDang], [SoChuong]) VALUES (N'BL003', N'ND003', N'MT_1', N'C003', N'Tác giả cần cải thiện mạch truyện.', CAST(N'2025-03-19T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[binhluan] ([MaBinhLuan], [MaNguoiDung], [MaTruyen], [MaChuong], [NoiDung], [NgayDang], [SoChuong]) VALUES (N'BL004', N'ND004', N'MT_2', N'C004', N'Nội dung hấp dẫn, mong chờ chương tiếp theo.', CAST(N'2025-03-19T00:00:00.000' AS DateTime), NULL)
GO
INSERT [dbo].[chuong] ([MaChuong], [MaTruyen], [SoChuong], [TenChuong], [AnhChuong], [NgayDang]) VALUES (N'C002', N'MT_1', 2, N'Bước chân vào tiên lộ', NULL, CAST(N'2025-03-18T00:00:00.000' AS DateTime))
INSERT [dbo].[chuong] ([MaChuong], [MaTruyen], [SoChuong], [TenChuong], [AnhChuong], [NgayDang]) VALUES (N'C003', N'MT_1', 3, N'Thử thách đầu tiên', NULL, CAST(N'2025-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[chuong] ([MaChuong], [MaTruyen], [SoChuong], [TenChuong], [AnhChuong], [NgayDang]) VALUES (N'C004', N'MT_2', 1, N'Rắn già hóa rồng', NULL, CAST(N'2025-03-19T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[danhgia] ([MaNguoiDung], [MaTruyen], [SoSao], [BinhLuan], [NgayBinhLuan]) VALUES (N'ND003', N'MT_2', 3, N'Cốt truyện hơi chậm.', CAST(N'2025-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[danhgia] ([MaNguoiDung], [MaTruyen], [SoSao], [BinhLuan], [NgayBinhLuan]) VALUES (N'ND004', N'MT_2', 5, N'Tôi thích phong cách viết của tác giả.', CAST(N'2025-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[danhgia] ([MaNguoiDung], [MaTruyen], [SoSao], [BinhLuan], [NgayBinhLuan]) VALUES (N'ND005', N'MT_1', 4, N'Nhân vật chính rất thú vị.', CAST(N'2025-03-19T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[nguoidung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Email], [NgayDangKy], [VaiTro], [ThoiGianDangNhap], [IP_DangNhap], [Avatar], [HoTen], [SoDienThoai]) VALUES (N'ND003', N'thanhan', N'$2y$10$zl4xBeCigoFOQOnF2veYZejmlwn9yo1mpi5fZnGI/5TluxcrzQo3W', N'admin@example.com', CAST(N'2025-03-01T00:00:00.000' AS DateTime), N'admin', CAST(N'2025-03-01T14:45:00.000' AS DateTime), N'192.168.1.3', N'../img/default-avatar.png', NULL, NULL)
INSERT [dbo].[nguoidung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Email], [NgayDangKy], [VaiTro], [ThoiGianDangNhap], [IP_DangNhap], [Avatar], [HoTen], [SoDienThoai]) VALUES (N'ND004', N'hoaimong', N'$2y$10$03v0dySKj0o8b7X4KB8UEOxIp38TogHaAm.spCnznJSLhiD5yNq76', N'mong666@gmail.com', CAST(N'2025-03-12T00:00:00.000' AS DateTime), N'admin', CAST(N'2025-04-01T12:55:01.000' AS DateTime), N'::1', N'../img/default-avatar.png', NULL, NULL)
INSERT [dbo].[nguoidung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Email], [NgayDangKy], [VaiTro], [ThoiGianDangNhap], [IP_DangNhap], [Avatar], [HoTen], [SoDienThoai]) VALUES (N'ND005', N'chicuong', N'$2y$10$ALdJ67aHksGaheVS46TqOODHxChzAZjjEuKbV3Q3j3vTjPSSX074u', N'user4@example.com', CAST(N'2025-03-13T00:00:00.000' AS DateTime), N'user', CAST(N'2025-03-13T13:30:00.000' AS DateTime), N'192.168.1.5', N'../img/default-avatar.png', NULL, NULL)
GO
INSERT [dbo].[theloai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL001', N'Tiên hiệp')
INSERT [dbo].[theloai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL002', N'Huyền huyễn')
INSERT [dbo].[theloai] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL003', N'Khoa huyễn')
GO
INSERT [dbo].[thongtintruyen] ([MaTruyen], [MaTheLoai], [TenTruyen], [TacGia], [NgayDang], [TrangThai], [AnhTruyen], [Slug]) VALUES (N'MT_1', N'TL001', N'Phàm nhân tu tiên', N'Vong Ngữ', CAST(N'2025-03-21T00:00:00.000' AS DateTime), N'Đang cập nhật', N'https://animehay.li/upload/poster/3078-1699384711.jpg', N'')
INSERT [dbo].[thongtintruyen] ([MaTruyen], [MaTheLoai], [TenTruyen], [TacGia], [NgayDang], [TrangThai], [AnhTruyen], [Slug]) VALUES (N'MT_10', N'TL010', N'Đội Trưởng Đội Lính Đánh Thuê', N'Lý Hàn', CAST(N'2025-03-14T00:00:00.000' AS DateTime), N'Đang cập nhật', N'https://i.pinimg.com/736x/5d/48/a4/5d48a4dfb4cdd669e45fbf11e363e741.jpg', N'')
INSERT [dbo].[thongtintruyen] ([MaTruyen], [MaTheLoai], [TenTruyen], [TacGia], [NgayDang], [TrangThai], [AnhTruyen], [Slug]) VALUES (N'MT_11', N'TL011', N'Hiệp Sĩ Sống Vì Ngày Hôm Nay', N'Nam Phong', CAST(N'2025-02-27T00:00:00.000' AS DateTime), N'Đang cập nhật', N'https://cmangaax.com/assets/tmp/album/54923.png?v=1721354728', N'')
GO
INSERT [dbo].[truyenyeuthich] ([MaNguoiDung], [MaTruyen], [NgayThem]) VALUES (N'ND004', N'MT_1', CAST(N'2025-03-18T00:00:00.000' AS DateTime))
INSERT [dbo].[truyenyeuthich] ([MaNguoiDung], [MaTruyen], [NgayThem]) VALUES (N'ND005', N'MT_1', CAST(N'2025-03-19T00:00:00.000' AS DateTime))
INSERT [dbo].[truyenyeuthich] ([MaNguoiDung], [MaTruyen], [NgayThem]) VALUES (N'ND007', N'MT_1', CAST(N'2025-03-20T00:00:00.000' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Admin_Email]    Script Date: 14/11/2025 9:16:14 AM ******/
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [UQ_Admin_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Admin_TenDangNhap]    Script Date: 14/11/2025 9:16:14 AM ******/
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [UQ_Admin_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaAdminXuLy_BC]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaAdminXuLy_BC] ON [dbo].[baocao]
(
	[MaAdminXuLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaChuong_BC]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaChuong_BC] ON [dbo].[baocao]
(
	[MaChuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNguoiDung_BC]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaNguoiDung_BC] ON [dbo].[baocao]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaTruyen_BC]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaTruyen_BC] ON [dbo].[baocao]
(
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaChuong_BL]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaChuong_BL] ON [dbo].[binhluan]
(
	[MaChuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNguoiDung_BL]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaNguoiDung_BL] ON [dbo].[binhluan]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaTruyen_BL]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaTruyen_BL] ON [dbo].[binhluan]
(
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaTruyen_Chuong]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaTruyen_Chuong] ON [dbo].[chuong]
(
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaChuong_LSD]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaChuong_LSD] ON [dbo].[lichsudoc]
(
	[MaChuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaNguoiDung_LSD]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaNguoiDung_LSD] ON [dbo].[lichsudoc]
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaTruyen_LSD]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaTruyen_LSD] ON [dbo].[lichsudoc]
(
	[MaTruyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NguoiDung_Email]    Script Date: 14/11/2025 9:16:14 AM ******/
ALTER TABLE [dbo].[nguoidung] ADD  CONSTRAINT [UQ_NguoiDung_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NguoiDung_TenDangNhap]    Script Date: 14/11/2025 9:16:14 AM ******/
ALTER TABLE [dbo].[nguoidung] ADD  CONSTRAINT [UQ_NguoiDung_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MaTheLoai_TTT]    Script Date: 14/11/2025 9:16:14 AM ******/
CREATE NONCLUSTERED INDEX [IX_MaTheLoai_TTT] ON [dbo].[thongtintruyen]
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT (NULL) FOR [HoTen]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT (N'Admin') FOR [VaiTro]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[baocao] ADD  DEFAULT (NULL) FOR [MaNguoiDung]
GO
ALTER TABLE [dbo].[baocao] ADD  DEFAULT (NULL) FOR [MaAdminXuLy]
GO
ALTER TABLE [dbo].[baocao] ADD  DEFAULT (NULL) FOR [MaTruyen]
GO
ALTER TABLE [dbo].[baocao] ADD  DEFAULT (NULL) FOR [MaChuong]
GO
ALTER TABLE [dbo].[baocao] ADD  DEFAULT (NULL) FOR [NoiDungBaoCao]
GO
ALTER TABLE [dbo].[baocao] ADD  DEFAULT (NULL) FOR [NgayBaoCao]
GO
ALTER TABLE [dbo].[baocao] ADD  DEFAULT (NULL) FOR [TrangThai]
GO
ALTER TABLE [dbo].[binhluan] ADD  DEFAULT (NULL) FOR [MaNguoiDung]
GO
ALTER TABLE [dbo].[binhluan] ADD  DEFAULT (NULL) FOR [MaTruyen]
GO
ALTER TABLE [dbo].[binhluan] ADD  DEFAULT (NULL) FOR [MaChuong]
GO
ALTER TABLE [dbo].[binhluan] ADD  DEFAULT (NULL) FOR [NoiDung]
GO
ALTER TABLE [dbo].[binhluan] ADD  DEFAULT (NULL) FOR [NgayDang]
GO
ALTER TABLE [dbo].[binhluan] ADD  DEFAULT (NULL) FOR [SoChuong]
GO
ALTER TABLE [dbo].[chuong] ADD  DEFAULT (NULL) FOR [MaTruyen]
GO
ALTER TABLE [dbo].[chuong] ADD  DEFAULT (NULL) FOR [SoChuong]
GO
ALTER TABLE [dbo].[chuong] ADD  DEFAULT (NULL) FOR [TenChuong]
GO
ALTER TABLE [dbo].[chuong] ADD  DEFAULT (NULL) FOR [AnhChuong]
GO
ALTER TABLE [dbo].[chuong] ADD  DEFAULT (NULL) FOR [NgayDang]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [SoSao]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [BinhLuan]
GO
ALTER TABLE [dbo].[danhgia] ADD  DEFAULT (NULL) FOR [NgayBinhLuan]
GO
ALTER TABLE [dbo].[lichsudoc] ADD  DEFAULT (NULL) FOR [MaTruyen]
GO
ALTER TABLE [dbo].[lichsudoc] ADD  DEFAULT (NULL) FOR [MaChuong]
GO
ALTER TABLE [dbo].[lichsudoc] ADD  DEFAULT (NULL) FOR [ThoiGianDoc]
GO
ALTER TABLE [dbo].[lichsudoc] ADD  DEFAULT (NULL) FOR [NgayXem]
GO
ALTER TABLE [dbo].[nguoidung] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[nguoidung] ADD  DEFAULT (N'user') FOR [VaiTro]
GO
ALTER TABLE [dbo].[nguoidung] ADD  DEFAULT (NULL) FOR [ThoiGianDangNhap]
GO
ALTER TABLE [dbo].[nguoidung] ADD  DEFAULT (NULL) FOR [IP_DangNhap]
GO
ALTER TABLE [dbo].[nguoidung] ADD  DEFAULT (N'../img/default-avatar.png') FOR [Avatar]
GO
ALTER TABLE [dbo].[nguoidung] ADD  DEFAULT (NULL) FOR [HoTen]
GO
ALTER TABLE [dbo].[nguoidung] ADD  DEFAULT (NULL) FOR [SoDienThoai]
GO
ALTER TABLE [dbo].[theloai] ADD  DEFAULT (NULL) FOR [TenTheLoai]
GO
ALTER TABLE [dbo].[thongtintruyen] ADD  DEFAULT (NULL) FOR [MaTheLoai]
GO
ALTER TABLE [dbo].[thongtintruyen] ADD  DEFAULT (NULL) FOR [TenTruyen]
GO
ALTER TABLE [dbo].[thongtintruyen] ADD  DEFAULT (NULL) FOR [TacGia]
GO
ALTER TABLE [dbo].[thongtintruyen] ADD  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[thongtintruyen] ADD  DEFAULT (NULL) FOR [AnhTruyen]
GO
ALTER TABLE [dbo].[thongtintruyen] ADD  DEFAULT (N'') FOR [Slug]
GO
ALTER TABLE [dbo].[truyenyeuthich] ADD  DEFAULT (NULL) FOR [NgayThem]
GO
ALTER TABLE [dbo].[baocao]  WITH CHECK ADD  CONSTRAINT [FK_BC_Admin_XuLy] FOREIGN KEY([MaAdminXuLy])
REFERENCES [dbo].[admin] ([MaAdmin])
GO
ALTER TABLE [dbo].[baocao] CHECK CONSTRAINT [FK_BC_Admin_XuLy]
GO
ALTER TABLE [dbo].[baocao]  WITH CHECK ADD  CONSTRAINT [FK_BC_Chuong] FOREIGN KEY([MaChuong])
REFERENCES [dbo].[chuong] ([MaChuong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[baocao] CHECK CONSTRAINT [FK_BC_Chuong]
GO
ALTER TABLE [dbo].[baocao]  WITH CHECK ADD  CONSTRAINT [FK_BC_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[nguoidung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[baocao] CHECK CONSTRAINT [FK_BC_NguoiDung]
GO
ALTER TABLE [dbo].[baocao]  WITH CHECK ADD  CONSTRAINT [FK_BC_ThongTinTruyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[thongtintruyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[baocao] CHECK CONSTRAINT [FK_BC_ThongTinTruyen]
GO
ALTER TABLE [dbo].[binhluan]  WITH CHECK ADD  CONSTRAINT [FK_BL_Chuong] FOREIGN KEY([MaChuong])
REFERENCES [dbo].[chuong] ([MaChuong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[binhluan] CHECK CONSTRAINT [FK_BL_Chuong]
GO
ALTER TABLE [dbo].[binhluan]  WITH CHECK ADD  CONSTRAINT [FK_BL_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[nguoidung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[binhluan] CHECK CONSTRAINT [FK_BL_NguoiDung]
GO
ALTER TABLE [dbo].[binhluan]  WITH CHECK ADD  CONSTRAINT [FK_BL_ThongTinTruyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[thongtintruyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[binhluan] CHECK CONSTRAINT [FK_BL_ThongTinTruyen]
GO
ALTER TABLE [dbo].[chuong]  WITH CHECK ADD  CONSTRAINT [FK_Chuong_ThongTinTruyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[thongtintruyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[chuong] CHECK CONSTRAINT [FK_Chuong_ThongTinTruyen]
GO
ALTER TABLE [dbo].[danhgia]  WITH CHECK ADD  CONSTRAINT [FK_DG_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[nguoidung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[danhgia] CHECK CONSTRAINT [FK_DG_NguoiDung]
GO
ALTER TABLE [dbo].[danhgia]  WITH CHECK ADD  CONSTRAINT [FK_DG_ThongTinTruyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[thongtintruyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[danhgia] CHECK CONSTRAINT [FK_DG_ThongTinTruyen]
GO
ALTER TABLE [dbo].[lichsudoc]  WITH CHECK ADD  CONSTRAINT [FK_LSD_Chuong] FOREIGN KEY([MaChuong])
REFERENCES [dbo].[chuong] ([MaChuong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[lichsudoc] CHECK CONSTRAINT [FK_LSD_Chuong]
GO
ALTER TABLE [dbo].[lichsudoc]  WITH CHECK ADD  CONSTRAINT [FK_LSD_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[nguoidung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[lichsudoc] CHECK CONSTRAINT [FK_LSD_NguoiDung]
GO
ALTER TABLE [dbo].[lichsudoc]  WITH CHECK ADD  CONSTRAINT [FK_LSD_ThongTinTruyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[thongtintruyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[lichsudoc] CHECK CONSTRAINT [FK_LSD_ThongTinTruyen]
GO
ALTER TABLE [dbo].[thongtintruyen]  WITH CHECK ADD  CONSTRAINT [FK_TTTruyen_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[theloai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[thongtintruyen] CHECK CONSTRAINT [FK_TTTruyen_TheLoai]
GO
ALTER TABLE [dbo].[truyenyeuthich]  WITH CHECK ADD  CONSTRAINT [FK_YeuThich_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[nguoidung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[truyenyeuthich] CHECK CONSTRAINT [FK_YeuThich_NguoiDung]
GO
ALTER TABLE [dbo].[truyenyeuthich]  WITH CHECK ADD  CONSTRAINT [FK_YeuThich_ThongTinTruyen] FOREIGN KEY([MaTruyen])
REFERENCES [dbo].[thongtintruyen] ([MaTruyen])
GO
ALTER TABLE [dbo].[truyenyeuthich] CHECK CONSTRAINT [FK_YeuThich_ThongTinTruyen]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopTruyenByView]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- thủ tục lấy truyện top ngày, tuần, tháng dựa vào lượt xem 
CREATE PROC [dbo].[sp_GetTopTruyenByView]
@ThoiGian nvarchar(10)
as
begin 
declare @StartDate datetime;
if @ThoiGian ='Ngay' SET @StartDate = GETDATE() - 1;
else if @ThoiGian = 'Tuan' SET @StartDate = GETDATE() - 7;
else if @ThoiGian = 'Thang' SET @StartDate = GETDATE() - 30;
else set @StartDate = '1900-01-01';
;with ViewCounts as(
select MaTruyen, COUNT(MaLichSuDoc) as LuotXem from lichsudoc where ThoiGianDoc >=@StartDate group by MaTruyen)
select top 10 t.MaTruyen, t.TenTruyen, t.AnhTruyen, t.TacGia, tl.TenTheLoai, t.Slug as MoTa  from thongtintruyen t join ViewCounts v on t.MaTruyen=v.MaTruyen  left join theloai tl on t.MaTheLoai=tl.MaTheLoai
order by v.LuotXem desc;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTruyenDeCu]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục lấy truyện đề cử dựa vào số sao đánh giá của người dùng
CREATE PROC [dbo].[sp_GetTruyenDeCu]
AS 
BEGIN
;WITH RankedTruyen AS(
SELECT MaTruyen, AVG(CAST(ISNULL(SoSao, 0) as float))as AvgRating from danhgia group by MaTruyen
)
SELECT TOP 10 t.MaTruyen, t.TenTruyen, t.AnhTruyen, t.TacGia, tl.TenTheLoai, t.Slug as MoTa  from thongtintruyen t join RankedTruyen r on t.MaTruyen=r.MaTruyen left join theloai tl on t.MaTheLoai=tl.MaTheLoai
order by r.AvgRating desc;
end
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTruyenHotSlider]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Thủ tục lấy truyện hot làm poster
CREATE PROC [dbo].[sp_GetTruyenHotSlider]
AS
BEGIN
    SELECT TOP 5 t.MaTruyen, t.TenTruyen, t.AnhTruyen, t.TacGia, tl.TenTheLoai, t.Slug AS MoTa FROM thongtintruyen t LEFT JOIN theloai tl ON t.MaTheLoai = tl.MaTheLoai ORDER BY NEWID(); 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTruyenMoiNhat]    Script Date: 14/11/2025 9:16:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- thủ tục lấy truyện mới nhất dựa vào ngày đăng
CREATE PROC [dbo].[sp_GetTruyenMoiNhat]
@SoLuong int = 18
as
begin
select TOP (@SoLuong) t.MaTruyen, t.TenTruyen, t.AnhTruyen, t.TacGia, tl.TenTheLoai, t.Slug as MoTa  from thongtintruyen t left join theloai tl on t.MaTheLoai=tl.MaTheLoai
order by t.NgayDang desc;
end
GO
USE [master]
GO
